.header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	padding: 0px 128px;
	background: linear-gradient(to right, #000, #1c1c1c, #000);
	box-shadow: 0 2px 4px rgba(255, 255, 255, 0.05);
	width: 100%;
	margin-bottom: 20px;
}

.title {
	font-family: "Microsoft YaHei";
	margin: 0;
	cursor: pointer;
}

.nav {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	height: 100%;
}

.nav-button {
	padding: 20px 20px;
	border: none;
	background: transparent;
	color: white;
	cursor: pointer;
	/* border-radius: 4px; */
	transition: background-color 0.3s;
	height: 100%;
}

.nav-button:hover {
	background-color: rgb(111, 7, 163);
}

@media (max-width: 768px) {
	.header {
		padding: 0px;
		justify-content: center;
	}
}

@media (prefers-color-scheme: light) {
	.header {
		background: linear-gradient(to right, #fff, #e3e3e3, #fff);
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
	}

	.nav-button {
		color: black;
	}

	.nav-button:hover {
		background-color: rgb(180, 115, 251);
	}
}
